# База данных
db.sqlite3

# Компилированные файлы
*.pyc
__pycache__/

# Виртуальное окружение
venv/
.env/

# Логи
*.log

# Статика и медиа (если генерируются при сборке)
static/
media/

# Настройки IDE
.vscode/
.idea/
