{% extends 'catalog/idSample.html' %}
{% load static %}

{% block image %}<img class="u-image u-image-1" src="{{img.url}}" data-image-width="974" data-image-height="650" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-direction="Up" data-animation-delay="250">{% endblock %}

{% block head %}{{tittle}}{% endblock %}

{% block name %}<h2 class="u-text u-text-default u-text-1">{{tittle}}</h2>{% endblock %}

{% block description %}{{description}}{% endblock %}

{% block proteing %}{{protein}}{% endblock %}

{% block fatsg %}{{fats}}{% endblock %}

{% block carbog %}{{carbon}}{% endblock %}

{% block calories %}{{calories}}{% endblock %}

{% block cost %}{{cost}}{% endblock %}